@model InfoExam1.Core.File
@{
//    ViewBag.Title = "Show File";
}
@* <h1>@ViewBag.Title</h1> *@


<form method="get" asp-action="DownloadFile" asp-controller="User">
    <h3 name="filename" title="filename">@Model.FileName</h3>
    <input type="hidden" name="filename" value="@Model.FileName"/>
    <h4>@Model.ShortDescription</h4>
    @Model.Description
    @Model.TimesDownloaded
    @Model.UploadDateTime.ToString("U")
    <input type="password" name="password"></input>
    <button type="submit">Download</button>
</form>